header {
    margin: 2rem auto 6rem;
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        font-weight: 600;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    h1 {
        font-size: 1.69rem;
        font-weight: 600;
        letter-spacing: 0.07em;
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
        li {
            font-size: 1.5em;
            letter-spacing: 0.04em;
            margin-left: 2rem;
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 38rem) {
    header {
        margin-bottom: 4rem;
        font-size: 14px;
        h1 {
            font-size: 1.32rem;
        }
        ul {
            li {
                margin-left: 1.5rem;
            }
        }
      }
  }

@media only screen and (max-width: 30rem) {
    header {
      margin-bottom: 3rem;
      font-size: 12px;
      h1 {
          font-size: 1.25rem;
      }
      ul {
          li {
              margin-left: 1.25rem;
          }
      }
    }
}